{% extends 'base.html' %}

{% block content %}

<h1>📥 Entrada de Estoque</h1>

<p>

Registre novas entradas de produtos.

</p>

<div class="card">

    <h2>Nova Entrada</h2>

    <form method="POST">

        <label>Produto</label>

        <select name="product_id" required>

            <option value="">

                Selecione um produto

            </option>

            {% for product in products %}

            <option value="{{ product[0] }}">

                {{ product[1] }}
                (Estoque Atual: {{ product[2] }})

            </option>

            {% endfor %}

        </select>

        <label>Quantidade de Entrada</label>

        <input
            type="number"
            name="quantity"
            min="1"
            required
        >

        <button class="btn-blue">

            + Adicionar ao Estoque

        </button>

    </form>

</div>


<div class="card">

    <h2>Histórico de Entradas</h2>

    <table>

        <tr>

            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Data</th>

        </tr>

        {% for movement in movements %}

        <tr>

            <td>{{ movement[0] }}</td>

            <td>{{ movement[1] }}</td>

            <td>{{ movement[2] }}</td>

            <td>{{ movement[3] }}</td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}
