{% extends 'base.html' %}

{% block content %}

<h1>

    Bem-vindo, João! 👋

</h1>

<p>

    Gerencie seu estoque e acompanhe seu negócio.

</p>


<div class="dashboard">

    <div class="dashboard-card">

        <h3>📦 Produtos</h3>

        <h1>

            {{ total_products }}

        </h1>

    </div>



    <div class="dashboard-card">

        <h3>📚 Estoque</h3>

        <h1>

            {{ total_stock }}

        </h1>

    </div>



    <div class="dashboard-card">

        <h3>💵 Investimento</h3>

        <h1>

            {{ total_investment }} MT

        </h1>

    </div>



    <div class="dashboard-card">

        <h3>💰 Venda Potencial</h3>

        <h1>

            {{ total_sales_value }} MT

        </h1>

    </div>



    <div class="dashboard-card">

        <h3>📈 Lucro Potencial</h3>

        <h1>

            {{ total_profit }} MT

        </h1>

    </div>

</div>

{% endblock %}
