{% extends 'base.html' %}

{% block content %}

<h1>📦 Produtos</h1>


<button
class="btn-blue"
onclick="toggleForm()"
>

+ Novo Produto

</button>


<div
class="card"
id="product-form"

{% if edit_product %}
style="display:block"
{% else %}
style="display:none"
{% endif %}
>

{% if edit_product %}
<h2>Editar Produto</h2>
{% else %}
<h2>Cadastrar Produto</h2>
{% endif %}


<form method="POST">

<input
type="hidden"
name="id"
value="{{ edit_product[0] if edit_product }}"
>

<label>Nome do Produto</label>

<input
type="text"
name="name"
required
value="{{ edit_product[1] if edit_product }}"
>

<label>Quantidade</label>

<input
type="number"
name="quantity"
required
value="{{ edit_product[2] if edit_product }}"
>

<label>Preço de Compra</label>

<input
type="number"
step="0.01"
name="purchase_price"
required
value="{{ edit_product[3] if edit_product }}"
>

<label>Preço de Venda</label>

<input
type="number"
step="0.01"
name="selling_price"
required
value="{{ edit_product[4] if edit_product }}"
>
<label>Estoque Mínimo</label>

<input
type="number"
name="minimum_stock"
value="5"
required
>

{% if edit_product %}

<button class="btn-blue">

Salvar Alterações

</button>

<a href="/products">

<button
type="button"
class="btn-yellow"
>

Cancelar

</button>

</a>

{% else %}

<button class="btn-blue">

Cadastrar Produto

</button>

{% endif %}

</form>

</div>


<div class="card">

<h2>Produtos Cadastrados</h2>
<form method="GET">

<input
type="text"
name="search"
placeholder="🔍 Pesquisar produto"
>

<button class="btn-blue">

Pesquisar

</button>

</form>

<br>
<div class="table-container">

<table>

<tr>

<th>ID</th>
<th>Produto</th>
<th>Quantidade</th>
<th>Compra</th>
<th>Venda</th>
<th>Mínimo</th>
<th>Status</th>
<th>Ações</th>

</tr>

{% for product in products %}

<tr>

<td>{{ product[0] }}</td>
<td>{{ product[1] }}</td>
<td>{{ product[2] }}</td>
<td>{{ product[3] }}</td>
<td>{{ product[4] }}</td>

<td>{{ product[5] }}</td>

<td>

{% if product[2] <= product[5] %}

<span class="low-stock">

🔴 Estoque Baixo

</span>

{% else %}

<span class="normal-stock">

🟢 Normal

</span>

{% endif %}

<td class="actions">

    <a
    href="/edit_product/{{ product[0] }}"
    class="btn-yellow"
    >
        ✏️ Editar
    </a>

    <a
    href="/delete_product/{{ product[0] }}"
    class="btn-red"
    onclick="return confirm('Tem certeza que deseja excluir?')"
    >
        🗑 Excluir
    </a>

</td>

{% endfor %}

</table>
</div>

</div>

{% endblock %}
