{% extends 'base.html' %}

{% block content %}

<h1>💰 Vendas</h1>

<p>

Registre saídas de produtos do estoque.

</p>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div style="background-color: #ef4444; color: white; padding: 14px; border-radius: 6px; margin-bottom: 20px; font-weight: bold; font-family: sans-serif; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
        ⚠️ {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<div class="card">

    <h2>Nova Venda</h2>

    <form method="POST">

        <label>Produto</label>

        <select name="product_id" required>

            <option value="">

                Selecione um produto

            </option>

            {% for product in products %}

            <option value="{{ product[0] }}">

                {{ product[1] }}
                (Estoque Atual: {{ product[2] }})

            </option>

            {% endfor %}

        </select>


        <label>Quantidade Vendida</label>

        <input
            type="number"
            name="quantity"
            min="1"
            required
        >

        <button class="btn-blue">

            Registrar Venda

        </button>

    </form>

</div>


<div class="card">

    <h2>Histórico de Vendas</h2>

    <table>

        <tr>

            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Data</th>

        </tr>

        {% for movement in movements %}

        <tr>

            <td>{{ movement[0] }}</td>

            <td>{{ movement[1] }}</td>

            <td>{{ movement[2] }}</td>

            <td>{{ movement[3] }}</td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}
